:root{

    /*Paleta de Colores */

    --var-color-background-primary: #ffff;
    --var-color-background-secundary: #f9f9f9;
    --var-color-text-primary: #2d2e32;
    --var-color-text-hover: #147efb;
}

